/* Main Dashboard */
.dashboard {
  padding: 20px;
  flex-grow: 1;
}

.dashboard-overview {
  background-color: whitesmoke;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 1.5rem;
  margin: 1rem 0;
}


  
  h3 {
  background-color: white;
  text-align: center;
  color: darkblue;
  padding: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  
}
  
  
  .meetings-summary {
    background-color: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 1.5rem;
    margin: 1rem 0;
  }

  .reports-summary {
    background-color: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 1.5rem;
    margin: 1rem 0;
    margin-top: 2.3rem;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    background-color: #fff;
    border-radius: 8px;
  }
  
  h4 {
    text-align: center;
    padding-bottom: 1rem;
  }
  
  /* Table Styling */
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font: inherit;
  }
  
  /* Table Header */
  thead {
    background-color: darkblue; /* Dark blue */
    color: white;
  }
  
  /* Table Body - Alternating Row Colors */
  tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray */
  }
  
  tbody tr:nth-child(odd) {
    background-color: #ffffff; /* White */
  }
  
  /* Table Borders */
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
  }

  /* Recently Viewed Reports */
#recentReports {
  list-style-type: none;
  padding: 0;
}

#recentReports li {
  background: darkblue;
  color: white;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
}