{% extends 'memb_dash.html' %}

{% load static %}


{% block title %}Member Notifications{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/memb_notifications.css' %}">
{% endblock %}


{% block content %}
<div class="dashboard-overview">
    <h3> 🔔&nbsp; Member Notifications</h3>
    <div class="notification-wrapper">
        
        <div class="notification-controls">
            <button id="mark-all-read">Mark All as Read</button>
            <button id="clear-all">Clear All</button>
        </div>

        <div class="notification-container">
            <ul id="notification-list">
                <li class="notification unread">
                    <i class="fas fa-bell"></i>
                    <span class="message">Your membership payment is due mid-April.</span>
                    <span class="timestamp">2 hours ago</span>
                    <button class="mark-read">Mark as Read</button>
                </li>
                <li class="notification unread">
                    <i class="fas fa-user"></i>
                    <span class="message">New resource "KU Gavel Constitution" uploaded. Check it out.</span>
                    <span class="timestamp">5 hours ago</span>
                    <button class="mark-read">Mark as Read</button>
                </li>

                <li class="notification unread">
                    <i class="fas fa-bell"></i>
                    <span class="message">Your membership payment is due mid-April.</span>
                    <span class="timestamp">2 hours ago</span>
                    <button class="mark-read">Mark as Read</button>
                </li>
                <li class="notification unread">
                    <i class="fas fa-user"></i>
                    <span class="message">New resource "KU Gavel Constitution" uploaded. Check it out.</span>
                    <span class="timestamp">5 hours ago</span>
                    <button class="mark-read">Mark as Read</button>
                </li>
                
                <li class="notification">
                    <i class="fas fa-check-circle"></i>
                    <span class="message">Your role for Meeting 046 is confirmed.</span>
                    <span class="timestamp">Yesterday</span>
                </li>
                <li class="notification">
                    <i class="fas fa-calendar"></i>
                    <span class="message">New meeting scheduled for 12th Feb 2025.</span>
                    <span class="timestamp">2 days ago</span>
                </li>
                
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}
