{% extends 'memb_dash.html' %}

{% load static %}


{% block title %}Member Elections{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/memb_elections.css' %}">
{% endblock %}


{% block content %}
<div class="dashboard-overview">
    <h3> 🗳️&nbsp; Toastmasters Club Elections</h3>
    <div class="next-meeting">
      <form id="votingForm">
      
        <fieldset>
          <label>President:</label>
          <label><input type="radio" name="president" value="Candidate A" required> Emmanuel Nyaayo</label>
          <label><input type="radio" name="president" value="Candidate B"> Joseph Okune</label>
          <label><input type="radio" name="president" value="Candidate C"> Samwel Gachiri</label>
        </fieldset>
          
        <fieldset>
          <label>Vice President Education</label>
          <label><input type="radio" name="vp_education" value="Candidate X" required> Brian Kariss</label>
          <label><input type="radio" name="vp_education" value="Candidate Y"> Mark Kahenya</label>
        </fieldset>
        
        <fieldset>
          <label>Vice President Membership</label>
          <label><input type="radio" name="vp_membership" value="Candidate M" required> Elizabeth Ogata</label>
          <label><input type="radio" name="vp_membership" value="Candidate N"> Bridget Acquino</label>
          <label><input type="radio" name="vp_membership" value="Candidate O"> Lucy Kandie</label>
        </fieldset>
        
        <fieldset>
          <label>Vice President Public Relations</label>
          <label><input type="radio" name="vp_pr" value="Candidate R" required> Mumbi Selina</label>
          <label><input type="radio" name="vp_pr" value="Candidate S"> Joy Grace</label>
        </fieldset>
        

        <fieldset>
          <label>Secretary</label>
          <label><input type="radio" name="secretary" value="Candidate D" required> Githinji Karanja</label>
          <label><input type="radio" name="secretary" value="Candidate E"> Rukia Anyango</label>
        </fieldset>

        <fieldset>
          <label>Sergeant at Arms</label>
          <label><input type="radio" name="sergeant" value="Candidate F" required> Christopher Charles</label>
          <label><input type="radio" name="sergeant" value="Candidate G"> Brian Emeka</label>
        </fieldset>

        <fieldset>
          <label>Treasurer</label>
          <label><input type="radio" name="treasurer" value="Candidate H" required> Wafula Iyala</label>
          <label><input type="radio" name="treasurer" value="Candidate I"> Joan Okoth</label>
        </fieldset>

          <!-- Submit Button (Initially Hidden) -->
          <button type="submit" id="submit-btn" >Submit</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
<script>

document.getElementById('votingForm').addEventListener('submit', function(event) {
    event.preventDefault();
    alert('Your vote has been submitted successfully!');
    this.reset();
});

  </script>
{% endblock %}
