{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Registration</title>
    <link rel="icon" href="{% static 'assets/images/KU_TM_FavIcon_Logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'assets/css/registration.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        h5 {
            background-color: gold; 
            color: black;
            padding: 1rem;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    
    <main>
        <div class="logo">
            <img src="{% static 'assets/images/KU_TM_FavIcon_Logo.png' %}" alt="KU Toastmasters Logo"width="120" height="120">
        </div>
        <article id="contact" class="main__article contact">
            <p class="welcome">Enter Your Details to Create Account with Us</p>
            <h2 class="contact__h2">Register</h2>
            <div class="message-style">
                {% for message in messages %}
                    <h5>{{ message }}</h5>
                {% endfor %}
            </div>
            
            <form action="registration" method="POST" class="contact__form">
              {% csrf_token %}
              <fieldset class="contact__fieldset">
                <legend class="offscreen">Send Us A Message</legend>
                <p class="contact__p">
                    <label class="contact__label"for="username">First Name:</label>
                    <input class="contact__input"
                    type="text"
                    name="username"
                    id="first-name"
                    placeholder="your first name"
                    autocomplete="on"
                    required
                    autofocus
                    >
                </p>
                <p class="contact__p">
                    <label class="contact__label"for="last_name">Last Name:</label>
                    <input class="contact__input"
                    type="text"
                    name="last_name"
                    id="last-name"
                    placeholder="your last name"
                    autocomplete="on"
                    required
                    autofocus
                    >
                </p>
                <p class="contact__p">
                    <label class="contact__label"for="corporate_email">Corporate Email:</label>
                    <input class="contact__input"
                    type="email"
                    name="corporate_email"
                    id="email"
                    placeholder="your student email"
                    autocomplete="on"
                    required
                    autofocus
                    >
                </p>
                <p class="contact__p">
                    <label class="contact__label"for="phone_number">Phone Number:</label>
                    <input class="contact__input"
                    type="tel"
                    name="phone_number"
                    id="phone"
                    placeholder="your phone number"
                    autocomplete="on"
                    required
                    autofocus
                    >
                </p>
                <p class="contact__p">
                    <label class="contact__label"for="registration_number">Registration Number:</label>
                    <input class="contact__input"
                    type="text"
                    name="registration_number"
                    id="registration-number"
                    placeholder="your registration number"
                    autocomplete="on"
                    required
                    autofocus
                    >
                </p>
                <p class="contact__p">
                    <label class="contact__label"for="dob">Date of Birth:</label>
                    <input class="contact__input"
                    type="date"
                    name="dob"
                    id="dob"
                    required
                    autofocus
                    >
                </p>
                <p class="contact__p">
                    <div class="password-container">
                        <label class="contact__label" for="password">Password:</label>
                        <div class="password-input">
                            <input class="contact__password__input" type="password" name="password" id="password" placeholder="Your password" required>
                            <i class="fas fa-eye toggle-password" id="togglePassword"></i>
                        </div>
                    </div>
                </p>
                <p class="contact__p">
                    <div class="password-container">
                        <label class="contact__label" for="password2">Retype Password:</label>
                        <div class="password-input">
                            <input class="contact__password__input" type="password" name="password2" id="password2" placeholder="Retype Your password" required>
                            <i class="fas fa-eye toggle-password" id="togglePassword2"></i>
                        </div>
                    </div>
                </p>
                <p class="contact__p">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">By clicking Sign up you agree to KU Toastmasters Terms of conditions & Privacy policy</label>
                </p>
                
             </fieldset>
             <button class="contact__button" type="submit">Sign Up</button>
             <div class="forgot-register">
                <a href="#">Already Have an Account?<span>Login Here</span></a>
            </div>
            </form>
        </article>
        
    </main>
    
    <script>
        const passwordInput = document.getElementById("password");
        const togglePassword = document.getElementById("togglePassword");
        const passwordInput2 = document.getElementById("password2");
        const togglePassword2 = document.getElementById("togglePassword2");
    
        togglePassword.addEventListener("click", function () {
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                togglePassword.classList.remove("fa-eye");
                togglePassword.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                togglePassword.classList.remove("fa-eye-slash");
                togglePassword.classList.add("fa-eye");
            }
        });

        togglePassword2.addEventListener("click", function () {
            if (passwordInput2.type === "password") {
                passwordInput2.type = "text";
                togglePassword2.classList.remove("fa-eye");
                togglePassword2.classList.add("fa-eye-slash");
            } else {
                passwordInput2.type = "password";
                togglePassword2.classList.remove("fa-eye-slash");
                togglePassword2.classList.add("fa-eye");
            }
        });
    </script>
</body>
</html>